@model SessionViewModel
<!--========================== Participants list and Actions panel ==============================================-->
<ul id="actions-panel" class="sidenav sidenav-fixed animate__animated animate__fadeIn">
    <li><a class="subheader"><i class="material-icons grey-text">people</i>Participants (<span id="no-of-participants"></span>)</a></li>

    <li class="search-participant">
        <div class="input-field">
            <input id="participant-search" placeholder="Search" type="text" spellcheck="false" autocomplete="off">
        </div>
    </li>

    <li>
        <div class="participant-list">
            <ul></ul>
        </div>
    </li>

    <li><div class="divider"></div></li>

    <li><a class="subheader">Actions</a></li>

    <li>
        <div class="actions-list">
            <ul>
                @*<li><a class="waves-effect"><i class="material-icons">play_circle_filled</i>Run</a></li>*@
                <li><a class="waves-effect modal-trigger" href="#share-modal"><i class="material-icons">share</i>Share</a></li>
                @*<li><a class="waves-effect"><i class="material-icons">file_download</i>Download</a></li>*@
                <li><a class="waves-effect modal-trigger" href="#settings-modal"><i class="material-icons">settings</i>Settings</a></li>
                <li><a id="chat-box" class="waves-effect"><i class="material-icons">chat</i>Chat</a></li>
            </ul>
        </div>
    </li>
</ul>
<!--=============================================================================================================-->
<!--======================= Code Editor ===============================-->
<div class="animate__animated animate__fadeIn" id="code-editor"></div>
<!--===================================================================-->
<!--================================= Video call panel =====================================================-->
<ul id="video-panel" class="sidenav sidenav-fixed animate__animated animate__fadeIn">
    <li><a class="subheader"><i class="material-icons grey-text">voice_chat</i>Video Call</a></li>

    <li>
        <div class="video-list">
            <ul>
                <li class="video-item">
                    <div class="video-box"></div>
                </li>

                <li class="video-item">
                    <div class="video-box"></div>
                </li>

                <li class="video-item">
                    <div class="video-box"></div>
                </li>

                <li class="video-item">
                    <div class="video-box"></div>
                </li>
            </ul>
        </div>
    </li>
</ul>
<!--========================================================================================================-->
<!--============================ Share Modal =========================================-->
<div id="share-modal" class="modal">
    <div class="modal-content">
        <h4 class="grey-text">Share Code</h4>
        <h6>Anyone with access to this session key will see your code in real time.</h6>

        <br />

        <h6 class="grey-text">Share this session key <i class="material-icons left">arrow_downward</i></h6>

        <div id="session-key-chip" class="chip" style="font-size: medium; margin-top: 1%;"></div>

        <span id="copy-session-key" style="cursor: pointer;"><i class="material-icons blue-text">content_copy</i></span>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-light btn red lighten-1"><i class="material-icons left">close</i> Close</a>
    </div>
</div>
<!--==================================================================================-->
<!--============================ Settings Modal =========================================-->
<div id="settings-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="grey-text">Editor Settings</h4>

        <br />

        <div class="row">
            <div class="col l6">
                <div class="input-field">
                    <input type="text" id="language-input" class="autocomplete" autocomplete="off" spellcheck="false" value="plaintext">
                    <label for="language-input">Language</label>
                </div>
            </div>

            <div class="col l6">
                <div class="input-field">
                    <select id="theme-select" data-setting-id="2">
                        @foreach (var item in Model.Themes)
                        {
                            if (Model.IsSelected(2, item.OptionValue))
                            {
                                <option data-stylesheet-path="@item.StyleSheetPath" value="@item.OptionValue" selected>@item.OptionText</option>
                            }
                            else
                            {
                                <option data-stylesheet-path="@item.StyleSheetPath" value="@item.OptionValue">@item.OptionText</option>
                            }
                        }
                    </select>
                    <label>Theme</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col l6">
                <div class="input-field">
                    <select id="cursor-select" data-setting-id="3" asp-items="@(Model.GetCursorStyles().Select(x => new SelectListItem(x.OptionText, x.OptionValue, Model.IsSelected(3, x.OptionValue))))">
                    </select>
                    <label>Cursor Style</label>
                </div>
            </div>
            <div class="col l6">
                <div class="input-field">
                    <select id="blinking-select" data-setting-id="4" asp-items="@(Model.GetCursorBlinking().Select(x => new SelectListItem(x.OptionText, x.OptionValue, Model.IsSelected(4, x.OptionValue))))">
                    </select>
                    <label>Cursor Blinking</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col l6">
                <div class="input-field">
                    <select id="font-weight-select" data-setting-id="5" asp-items="@(Model.GetFontWeight().Select(x => new SelectListItem(x.OptionText, x.OptionValue, Model.IsSelected(5, x.OptionValue))))">
                    </select>
                    <label>Font Weight</label>
                </div>
            </div>

            <div class="col l6">
                <div class="input-field">
                    <input data-setting-id="6" id="font-size-input" type="number" value="@Model.GetSettingValue(6)" />
                    <label for="font-size-input">Font Size</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col l6">
                <div class="input-field">
                    <input data-setting-id="7" id="tab-size-input" type="number" value="@Model.GetSettingValue(7)" />
                    <label for="tab-size-input">Tab Size</label>
                </div>
            </div>

            <div class="col l6">
                <div class="row">
                    <div class="col l6">
                        <div class="switch input-field">
                            <label>
                                Line Numbers

                                @if (Model.IsChecked(8))
                                {
                                    <input data-setting-id="8" id="line-numbers-switch" type="checkbox" checked>
                                }
                                else
                                {
                                    <input data-setting-id="8" id="line-numbers-switch" type="checkbox">
                                }

                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>

                    <div class="col l6">
                        <div class="switch input-field">
                            <label>
                                Word Wrap

                                @if (Model.IsChecked(9))
                                {
                                    <input data-setting-id="9" id="word-wrap-switch" type="checkbox" checked>
                                }
                                else
                                {
                                    <input data-setting-id="9" id="word-wrap-switch" type="checkbox">
                                }

                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-light btn red lighten-1"><i class="material-icons left">close</i> Close</a>
    </div>
</div>
<!--====================================================================================-->
<!--===================================== Chat Box ===============================================-->
<div id="chat-box-markup" style="display: none;">
    <div class="row clearfix">
        <div class="col l12">
            <div class="card chat-app">
                <div class="chat">
                    <div class="chat-history">
                        <ul></ul>
                    </div>
                    <div class="chat-message clearfix">
                        <form>
                            <div class="input-field">
                                <input id="chat-message-input" type="text" placeholder="Message" autocomplete="off">
                                <button class="btn waves-effect waves-light blue-grey darken-1 right"><i class="material-icons">send</i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====================================================================================-->