@{
    var email = User.FindFirst(x => x.Type == ClaimTypes.Email).Value;

    var isConfirmed = await EmailManager.IsEmailConfirmed(email);

    var action = ViewContext.RouteData.Values["Action"].ToString();

    var linkText = isConfirmed ? "Sessions" : "Account";

    var iconText = isConfirmed ? "dashboard" : "account_circle";
}

<ul class="right hide-on-med-and-down">
    <li class="@(action == "Dashboard" ? "active" : "")">
        <a asp-area="" asp-controller="Home" asp-action="Dashboard"><i class="material-icons left">@iconText</i>@linkText</a>
    </li>
    @if (isConfirmed)
    {
        <li class="@(action == "NewSession" ? "active" : "")">
            <a asp-area="WorkSpace" asp-controller="Session" asp-action="NewSession"><i class="material-icons left">add_box</i>New Session</a>
        </li>
    }
    <li class="@(action == "JoinSession" ? "active" : "")">
        <a asp-area="WorkSpace" asp-controller="Session" asp-action="JoinSession"><i class="material-icons left">repeat</i>Join Session</a>
    </li>
    <li><a onclick="$('#logout').submit()" class="user-name"><i class="material-icons left">verified_user</i> @User.Identity.Name.ToUpper()</a></li>
</ul>

<ul class="sidenav" id="mobile-nav">
    <li style="margin-top: 5%;">
        <center>
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/favicon.ico" height="50" width="50" />
            </a>
        </center>
    </li>
    <li>
        <div class="progress" style="height: 2px;">
            <div class="determinate grey lighten-4" style="width: 100%;"></div>
        </div>
    </li>
    <li class="@(action == "Dashboard" ? "active" : "")">
        <a asp-area="" asp-controller="Home" asp-action="Dashboard"><i class="material-icons left">@iconText</i>@linkText</a>
    </li>
    @if (isConfirmed)
    {
        <li class="@(action == "NewSession" ? "active" : "")">
            <a asp-area="WorkSpace" asp-controller="Session" asp-action="NewSession"><i class="material-icons left">add_box</i>New Session</a>
        </li>
    }
    <li class="@(action == "JoinSession" ? "active" : "")">
        <a asp-area="WorkSpace" asp-controller="Session" asp-action="JoinSession"><i class="material-icons left">repeat</i>Join Session</a>
    </li>
    <li><a onclick="$('#logout').submit()" class="user-name"><i class="material-icons left">verified_user</i> @User.Identity.Name.ToUpper()</a></li>
</ul>

<form hidden id="logout" asp-area="Users" asp-controller="Account" asp-action="Logout" method="post"></form>